@charset "ISO-8859-1";
/* estiloPrestamo.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

.bodyPrestamo {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #b0b0b0;
	color: #ffffff;
}

.containerPrestamo {
	background-color: #c0c0c0;
	color: #333;
	width: 100%;
	max-width: 1200px;
	padding: 2em;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-weight: 600;
	text-align: center;
	margin-bottom: 1em;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin: 0.5em 0 0.2em;
	font-weight: 600;
	color: #333;
}

input[type="number"], select {
	padding: 0.6em;
	margin-bottom: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
}

button {
	padding: 0.8em;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	background-color: #646464;
	border: 2px solid #9f3647;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #555;
}

/* Estilo especï¿½fico para la tabla de historial de cuotas */
.historialCuotas {
	background-color: #8080ff !important;
	width: 100% !important;
	border-collapse: collapse !important;
}

.historialCuotas th, .historialCuotas td {
	padding: 10px !important;
	text-align: center !important;
}

#botonPedirPrestamo {
	background-color: #663647;
}


/* ESTILOS PARA AGREGAR */
.formulario-agregar {
	display: none; /* Por defecto está oculto */
	position: absolute;
	top: 300px;
	left: 27%;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #646464;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formulario-agregar h2 {
	text-align: center;
}

.formulario-agregar input[type="submit"] {
	background-color: #646464;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.formulario-agregar input[type="submit"]:hover {
	background-color: #663647;
}

.form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-container .fila {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 20px;
}

.form-element {
	flex-grow: 1;
	flex-basis: calc(20% - 10px);
	margin: 0;
	padding: 0;
}

label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: 600;
}

input, select {
	width: 90%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	box-sizing: border-box;
}

.button-container {
	text-align: center;
	margin-top: 20px;
}